---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<style>
  p {
    font-size: 1.4rem;
  }

  @media screen and (min-width: 580px) {
    p {
      font-size: 1.47rem;
    }
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h1>About Me</h1>
  <article class="about">
    <h1>Hello there!</h1>
    <p>
      I'm a late 80's native of Joburg, South Africa, with a decade of
      client-focused experience in the insurance industry, now diving headfirst
      into web development.
    </p>

    <p>
      My journey may be non-linear, but every step has equipped me with valuable
      skills. Here's how my past fuels my passion for the web:
    </p>
    <ul class="skills">
      <li>
        <strong>Client-Centric Mindset:</strong>
        <p>
          I understand that websites are not just for developers – they're for
          users. My background in client relations ensures I keep user needs at
          the heart of every project.
        </p>
      </li>
      <li>
        <strong>Problem-Solving:</strong>
        <p>
          From resolving complex disputes to debugging code, I thrive on turning
          challenges into solutions. My calm, analytical approach helps me
          tackle any hurdle.
        </p>
      </li>
      <li>
        <strong>Clear & Concise Communicator:</strong>
        <p>
          I communicate complex ideas simply and effectively, making sure
          everyone's on the same page – from clients to team members.
        </p>
      </li>
    </ul>

    <p>
      As a junior web developer, I bring curiosity, adaptability, and a unique
      perspective to your team. I'm eager to learn, grow, and contribute to your
      projects. I'm eager to learn from more experienced developers.
    </p>
  </article>
  <article class="hobbies">
    <h3>My Hobbies</h3>
    <ul>
      <li>
        <p>
          Outside of programming I enjoy taking walks through as many
          neighbourhoods and parks in my native city of <span is:raw
            >{Joburg}</span
          >
          🇿🇦. I have an exploring nature! 😄
        </p>
      </li>
      <li><p>Cars, Motorcyles and Racing. I'm a fan of them all!</p></li>
      <li>
        <p>
          Nature, Sustainable Living and Evironmental Conservation. These are my
          passions.
        </p>
      </li>
      <li><p>Sci-Fi Books, Movies and TV Shows. During my downtime.</p></li>
    </ul>
  </article>
</BaseLayout>
