---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<style>
  p {
    font-size: 1.4rem;
  }

  @media screen and (min-width: 580px) {
    p {
      font-size: 1.47rem;
    }
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h1>About Me</h1>
  <article class="intro">
    <p>Thanks for coming to visit.</p>
    <p>
      I'm a late 80's boy and a 'junior' when it comes to web development. The
      creative side of me acknowledges that my ideas need to be put onto
      screens, and in particular, the web.
    </p>
    <p>
      I intend to use this page to display my techincal growth as well as my
      learnings, and I hope you'll like what you see. I'm keen on working full
      time as a frontend developer so I can learn and grow with likeminded
      peers.
    </p>
  </article>
  <article class="hobbies">
    <h3>My Hobbies</h3>
    <ul>
      <li>
        <p>
          Outside of programming I enjoy taking walks through as many
          neighbourhoods and parks in my native city of <span is:raw
            >{Joburg}</span
          >
          🇿🇦. I have an exploring nature! 😄
        </p>
      </li>
      <li><p>Cars, Motorcyles and Racing. I'm a fan of them all!</p></li>
      <li>
        <p>
          Nature, Sustainable Living and Evironmental Conservation. These are my
          passions.
        </p>
      </li>
      <li><p>Sci-Fi Books, Movies and TV Shows. For my downtime.</p></li>
    </ul>
  </article>
</BaseLayout>
